---
title: Home
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Doable Group. </h2>
		<p class="subtext editable">A TECH AND MEDIA COMPANY.</p>
		<br>
		<p class="subtext editable">A dynamic and innovative company, we pride ourselves on transforming the way businesses harness the power of technology and media to achieve their goals.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous work and our happy customers. We cater to your technology and media needs to boost business and increase exposure.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="/DaVinci.png" width="100" style="margin-bottom: 40px; margin-right: 20px;"></li>
				<li><img src="/adobe.png" width="100" style="margin-bottom: 30px; margin-right: 20px;"></li>
				<li><img src="/unreal.png" width="100" style="margin-bottom: 40px; margin-right: 20px;"></li>
				<li><img src="/clo.png" width="100" style="margin-bottom: 40px; margin-right: 20px;"></li>
				<li><img src="/blender.png" width="100" style="margin-bottom: 40px; margin-right: 10px;"></li>
				<li><img src="/aws.png" width="120" style="margin-bottom: 40px; margin-right: 20px;"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Latest software, greatest perfomance</h3>
			<p class="editable">As a tech centric agency, we leverage and reap the benefits of the latest and greatest technology. This ensures that the solution you get is relivant and efficient.</p>
		</div>
	</div>
</section>
